/* container */

#container {
  width: 501px;
  height: 624px;
  margin : 20px;
  position: absolute;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #045D8B;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* toolbar */

#toolbar {
  width: 501px;
  height : 60px;
  background-color: #045D8B;
  display: flex;
  flex-direction: row;
  /* (수직축) 각 item 들을 중앙에 맞춤 */
  align-items: center;
  /* (메인축) 각 item 들 가장 양 끝 비우고, 사이를 동일 간격으로 */
  justify-content: space-between;
  border-radius: 6px 6px 0px 0px;
}

/* icon */

#toolbar .menu-key {

  display : flex;
  flex-direction : column;
  /* (메인축) 가장 양 끝 포함, 모든 간격을 동일하게 벌린다. */
  justify-content: space-evenly;
  position : relative;
}

#toolbar .menu-key .material-icons {
  width : 24px;
  height : 24px;
  padding : 6px, 3px, 6px, 3px;
  margin-left : 17px;
  color : white;
  transition : .2s;
}

#toolbar .menu-key:hover .material-icons {
  transform : scale(1.2);
}

/* title */

#toolbar .title {
  width : 161px;
  height : 48px;
  display: flex;
  /* (메인축) 가운데로 */
  justify-content: center;
  /* (수직축) 가운데로 */
  align-items : center;
  color: white;
}

/* log-in */

#toolbar .log-in {
  width : 45px;
  height : 22px;
  display: flex;
  padding-right : 8px;
  /* (메인축) 가운데로 */
  justify-content: space-evenly;
  /* (수직축) 가운데로 */
  align-items : center;
  color: white;
  transition : .2s;
}

#toolbar .log-in:hover {
  transform : scale(1.2);
}

/* contents */

#contents {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
  position : relative;
}

#contents .slide-menu {
  position : fixed;
  width : 178px;
  height : 564px;
  left : 20px;
  background-color: #CFDAFF;
  border-radius: 0px 0px 0px 10px;
  border-left : 1px solid #045D8B;
  border-right : 1px solid #045D8B;
  display  : none;
}

#contents .slide-menu .board {
  display : flex;
  flex-direction: column;
  padding-top : 40px;
}

#contents .slide-menu .board .board__name {
  height : 42px;
  font-size : 14px;
  line-height: 16.41px;
  text-align: center;
  color : black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contents .slide-menu .board .board__name::after {
  content : "";
  width : 104px;
  border-bottom : 1px solid #045D8B;
  left : 0;
  right : 0;
  margin : 10px auto;
}

#contents .slide-menu .board .board__name:last-child:after {
  display : none;
}

#contents .slide-menu.focused {
  display: block;
}

/* menu */

#contents .menu {
  color : black;
  width : 501px;
  height : 86px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#contents .menu #freeBoard {
  position : inherit;
  width : 86px;
  height : 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contents .menu #updateArticle {
  position : inherit;
  width : 55px;
  height : 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* articles */

#contents .articles {
  color : black;
  border : 1px solid #045D8B;
  border-radius: 10px;
  width : 350px;
  height: 359px;
  display: flex;
  flex-direction: column;
}

#contents .articles .article1 {
  border-bottom : 1px solid #045D8B; 
  box-sizing: border-box;
  height : 59px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

#contents .articles .article2 {
  border-bottom : 1px solid #045D8B; 
  box-sizing: border-box;
  height : 59px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

#contents .articles .article3 {
  border-bottom : 1px solid #045D8B; 
  box-sizing: border-box;
  height : 59px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

#contents .articles .article4 {
  border-bottom : 1px solid #045D8B; 
  box-sizing: border-box;
  height : 59px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

#contents .articles .article5 {
  border-bottom : 1px solid #045D8B; 
  box-sizing: border-box;
  height : 59px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

#contents .articles .article6 {
  box-sizing: border-box;
  height : 59px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}


#contents .articles .article-date {
  height: 1em;
  width : 44px;
  padding-left: 15px;
}

.article-title {
  max-height: 1em;
  width : 153px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.article-owner {
  height: 1em;
  width : 36px;
  padding-left: 6px;
}

/* pageButton */

#pageButton {
  box-sizing: border-box;
  padding-top: 28px;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* each button */

#pageButton .button{
  width: 20px;
  height: 18px;
  border : 1px solid #045D8B;
  transition : .2s
}

#pageButton .button:hover {
  transform : scale(1.2);
}