body {
  font-family: "Roboto";
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  background-image: url("../img/background.png");
}

/* material icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* 8/5 배 (기획서의) */
#container {
  height : 90vh;
  width : 90vh;
  position: absolute;
  left : 0;
  right : 0;
  top : 0;
  bottom : 0;
  margin : auto;
  border : 5px solid #045D8B;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}


/* header */
#container header {
  width : 100%;
  height : 12%;
  background-color: #045D8B;
  flex-direction: row;
  justify-content: space-between;
  color : white;
  font-size: 36px;
  display: flex;
  align-items: center;
  position : relative;
  transition : 0.2s;
}

#container header .menu-bar {
  width : 25%;
  transition: 0.2s;
}

#container header .menu-bar:hover {
  cursor: pointer;
  transform: scale(1.4);
}

#container header .menu-home { 
  transition: 0.2s;
  width : 40%;
}

#container header .menu-home:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#container header .login {
  transition: 0.2s;
  width : 25%;
}

#container header .login:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#container header .menu-my {
  transition: 0.2s;
  width : 25%;
}

#container header .menu-my:hover {
  cursor: pointer;
  transform: scale(1.2);
}


/* Home */

/* main */
#container main {
  width : 100%;
  height : 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main > slide-menu */
#container main #slide {
  position : absolute;
  font-size : 25px;
  left : 0;
  top : 12%;
  width : 30%;
  height: 88%;
  z-index: 1;
  background-color: #b4dfed;
  border-right: 3px solid #045D8B;
}

#container main #slide #slide-menu {
  width : 90%;
  padding-top : 10%;
  left : 0;
  right : 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#container main #slide #slide-menu .slide-menu-content {
  padding: 11%;
  position : relative;
}

#container main #slide #slide-menu .slide-menu-content::after {
  content: "";
  width : 80%;
  height : 1px;
  padding-bottom : 11%;
  left : 0;
  right : 0;
  margin : auto;
  border-bottom: 1px solid #045D8B;
  position: absolute;
}

#container main #slide #slide-menu .slide-menu-content:last-child:after {
  display: none;
}

#container main #slide #slide-menu .slide-menu-content .slide-menu-text {
  transition: 0.2s;
}

#container main #slide #slide-menu .slide-menu-content .slide-menu-text:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* main > menu */
#container main #main-menu { 
  width : 100%;
  height : 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 ;
}

#container main #main-menu #main-menu-articles {
  width : 200px;
  transition: .2s;
}

#container main #main-menu #main-menu-articles:hover {
  cursor: pointer;
  transform : scale(1.2);
}

#container main #main-menu #main-menu-post {
  width : 200px;
  transition: .2s;
}

#container main #main-menu #main-menu-post:hover {
  cursor: pointer;
  transform : scale(1.2);
}

/* main > article */
#container main #main-articles {
  width : 90%;
  height : 86%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container main #main-articles .article {
  width: 100%;
  height : 16%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px #045D8B solid;
}

/* main > article:hover */
#container main #main-articles .article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: scaleX(.3);
  opacity: 0;
  transition: all .3s
}

/* article 위를 호버링하면, before 가상선택자 박스들에 대해서 opacity .4로 등장을 시킴 */
#container main #main-articles .article:hover::before {
  opacity: .4;
  background-color: #2B4F60;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  cursor: pointer;
}
/* main > article:hover  */

#container main #main-articles .article:last-child {
  border-bottom: 2px #045D8B solid;
}

#container main #main-articles .article .article-date{
  width : 100px;
  margin-left: 40px;
}

#container main #main-articles .article .article-title{
  width : 200px;
}

#container main #main-articles .article .article-author{    
  width : 100px;
  margin-right: 40px;
}

/* footer */
#container footer {
  width : 100%;
  height : 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#container footer .button {
  width : 3%;
  border : 2px #045D8B solid;
  border-radius: 5px;
  transition: 
    transform 0.2s,
    background-color 0.6s;
}

#container footer .button:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #045D8B;
  color : white;
}

#container footer .button:first-child {
  margin-left: 12%;
}

#container footer .button:last-child {
  margin-right: 12%;
}


/* Login */

#container main #login {
  width : 60%;
  height : 70%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

#container main #login .login-box {
  width : 100%;
  height : 30%;
  margin-top : 10%;
  border: 5px #045D8B solid;
  border-radius: 20px;
  font-size : 30px;
  text-align: center;
  transition: .2s;
}

#container main #login .login-box:focus {
  cursor: default;
  background-color: #5585b5;
  color : white;
}

#container main #login #login-btn {
  width : 100%;
  height : 30%;
  margin-top : 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#container main #login #login-btn .login-btn-box {
  width : 30%;
  font-size: 35px;
  border : none;
  background-color: white;
  transition: .2s;
}

#container main #login #login-btn .login-btn-box:hover {
  cursor: pointer;
  transform: scale(1.5);
}


/* Enroll */

#container main #enroll {
  width : 60%;
  height : 90%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#container main #enroll .enroll-box {
  width : 100%;
  height : 25%;
  margin-top : 7%;
  border: 5px #045D8B solid;
  border-radius: 20px;
  font-size : 30px;
  text-align: center;
  transition: .2s;
}

#container main #enroll .enroll-box:focus {
  cursor: default;
  background-color: #5585b5;
  color : white;
}

#container main #enroll #enroll-btn {
  width : 100%;
  height : 20%;
  margin-top : 7%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#container main #enroll #enroll-btn .enroll-btn-box {
  width : 30%;
  font-size: 35px;
  border : none;
  background-color: white;
  transition: .2s;
}

#container main #enroll #enroll-btn .enroll-btn-box:hover {
  cursor: pointer;
  transform: scale(1.5);
}

#container main #enroll #enroll-btn .enroll_btn_confirm {
  width : 30%;
  font-size: 35px;
  border : none;
  background-color: white;
  transition: .2s;
}

#container main #enroll #enroll-btn .enroll_btn_confirm:hover {
  cursor: pointer;
  transform: scale(1.5);
}


/* MyPage */

